@import "/styles/_vars.scss";

LoadingOverlay
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #222;
    z-index: 1000;
    color: white;
    pointer-events: all;
    opacity: 0.0;
    transition: all 0.3s 0.1s ease-in;
    transform: scale( 1.1 );

    .loading-panel
    {
        font-size: 30px;
        font-weight: 200;
        font-family: Poppins;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        gap: 30px;
        align-items: center;
        padding: 50px 75px;
        justify-content: flex-end;
        background: linear-gradient(rgba(#1E2432,0), rgba(#1E2432,0.8));

        .loading-info
        {
            flex-direction: column;
            align-items: flex-end;
        }

        .status
        {
            color: #fff;
            font-weight: 600;
            font-family: Poppins;
        }

        .eta
        {
            color: #ccc;
            font-size: 18px;
            font-weight: 300;
            font-family: Poppins;
        }

        .cancel-button
        {
            background-color: $primary;
            color: #fff;
            padding: 10px 40px;
            border-radius: 100%;
            font-size: 30px;
            font-weight: bold;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover
            {
                background-color: $light-blue;
            }
        }
    }

    &.visible
    {
        opacity: 1;
        transition: all 0s linear;
        background-color: #111;
        transform: scale( 1 );
    }

    .background
    {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        opacity: 1;
        transition: all 1.5s linear, transform 20s linear;
        transform: scale( 1 );
        filter: blur( 0px);
    }

        .background:intro
        {
            opacity: 0;
            filter: blur( 10px);
            transform: scale( 1.1 );
        }

    .title
    {
        position: absolute;
        left: 0;
        bottom: 200px;
        top: 0;
        right: 0;
        font-size: 100px;
        font-weight: 700;
        font-family: Poppins;
        opacity: 0.1;
        justify-content: center;
        align-items: center;
        transition: all 1s 1s linear;
    }

        .title:intro
        {
            opacity: 0;
        }
}