
MicOverlay
{
    position: absolute;
    top: 64px;
    right: 64px;
    z-index: 11000;
    pointer-events: none;
    white-space: nowrap;
    font-family: "Material Icons";
    font-size: 32px;
    padding: 8px;
    border-radius: 10px;
    transform: scale( 0.75 );
    transition: all 0.2s ease;
    opacity: 0.7;
    background-color: #1825;
    border: 2px solid transparent;
    color: #182;

    &.recording
    {
        background-color: #182;
        color: white;
        opacity: 1;
        transform: scale( 1 );
        transition: all 0.1s ease-out;
        animation-name: recording-anim;
        animation-duration: 0.2s;
        animation-timing-function: ease;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }

    &.inactive
    {
        opacity: 0;
    }
}


@keyframes recording-anim
{
    0%
    {
        border: 2px solid #2a2;
        transform: scale( 1.05 );
    }

    100%
    {
        border: 2px solid #8e8;
        transform: scale( 1 );
    }
}
