@using Sandbox;
@using Sandbox.UI;

@inherits Panel

@if ( !MenuSystem.ShowOverlay )
	return;

<root>
    <div class="panel">
        <label class="title">s& dev preview</label>
        <label class="version">@Application.Version</label>
    </div>
</root>

@code{
    protected override int BuildHash()
    {
        return System.HashCode.Combine( MenuSystem.ShowOverlay );
    }
}
