VersionOverlay
{
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 10000;
    color: #fff;
    font-weight: normal;
    pointer-events: none;
    flex-direction: row;
    font-size: 12px;
    font-family: Poppins;
    white-space: nowrap;
    font-weight: bold;
    font-size: 11px;

    .title
    {
        opacity: 0.4;
    }

    .panel 
    {
        background-color: #3472e6;
        border-radius: 0 0 4px 4px;
        box-shadow: 2px 2px 40px #0005;
        gap: 5px;
        padding: 2px 10px;
    }
}