
PackageSortOrder
{
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-around;
}


PackageSortOrder button
{
    color: #c6d4eeaa;
    font-size: 24px;
    padding: 8px;
}

PackageSortOrder button:hover
{
    background-color: #467de455;
    border-radius: 100px;
}

PackageSortOrder button.active
{
    color: white;
    background-color: #467de4;
    border-radius: 100px;
}