
PackageCategoryFilter
{
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;
    font-size: 16px;
    color: #b2bfd8;
}

PackageCategoryFilter gametag
{
}

PackageCategoryFilter .option
{
    cursor: pointer;
    padding: 1px 8px;
    border-radius: 5px;
    transition: all 0.2s ease;
    gap: 10px;
    align-items: center;
}

PackageCategoryFilter .option .iconpanel
{
    font-size: 20px;
    color: #4a515f;
    transition: all 0.3s ease;
}

PackageCategoryFilter .option.active
{
    cursor: pointer;
    background-color: #4379dc;
    color: white;
    padding: 8px 8px;
}

PackageCategoryFilter .option.active .iconpanel
{
    color: white;
    opacity: 0.5;
}

.children
{
    flex-direction: column;
    margin-left: 16px;
}

.count
{
    background-color: #4a515f;
    padding: 1px 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: black;
}

PackageCategoryFilter .option.active .count
{
    background-color: #fff3;
    color: #fffc;
}