
PackagePropertyFilter
{
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-between;
    font-size: 16px;
    color: #b2bfd8;
}

.option
{
    cursor: pointer;
    padding: 8px 8px;
    border-radius: 5px;
    transition: all 0.2s ease;
    gap: 10px;
    align-items: center;
    flex-grow: 1;
    background-color: #0003;
}

.option .iconpanel
{
    font-size: 20px;
    color: #4a515f;
    transition: all 0.3s ease;
}

.option.active
{
    cursor: pointer;
    background-color: #4379dc;
    color: white;
}