

CQParticleFunctionType
{
	background-color: #171819;
	padding: 0px;
	border-radius: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

CQParticleFunctionType QLabel
{
	font-size: 11px;
	font-weight: bold;
	color: #d1d1d1;
	text-align: center;
}

CQParticleFunctionBaseWidget
{
	border-top: 1px solid #171819;
	background-color: #2c3028;
}

CQParticleFunctionBaseWidget:hover
{
	background-color: rgb(54, 59, 48);
}

CQParticleFunctionBaseWidget CQEditFunctionButton
{ 
	margin: 0px;
	padding: 5px;
	border-radius: 0px;
}

CQParticleFunctionBaseWidget CQEditFunctionButton #functionLabel
{
	font-weight: bold;
	color: #a3c981;	
}
 
CQParticleFunctionBaseWidget[bSelected="true"]
{
	background-color: #45503b;
}

CQParticleFunctionBaseWidget[bSelected="true"] CQEditFunctionButton #functionLabel
{
	color: #ade67b;
}

CQEditFunctionButton#EditBaseProperty
{
	background-color: #2c3028;
	color: #a3c981;
	padding: 10px;
	border: 1px solid #a3c981;
}

CQEditFunctionButton#EditBaseProperty:hover
{
	background-color: #454e3b;
}

CQEditFunctionButton#EditBaseProperty QLabel
{
	font-size: 11px;
	font-weight: bold;
	color: #a3c981;
	text-align: center;
	padding: 10px;
}