@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Menu

<root>
    <div class="avatar" style="background-image: url( avatar:@Sandbox.Utility.Steam.SteamId )"></div>
    <div class="name">@Sandbox.Utility.Steam.PersonaName</div>
</root>

@code
{

}
