NameTag
{
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 32px;

	.avatar
	{
		width: 90px;
		height: 90px;
		border-radius: 16px;
		background-position: center;
		background-size: cover;
	}

	.name
	{
		font-size: 64px;
		font-family: Poppins;
		font-weight: bold;
		color: #457be0;
		text-shadow: 6px 6px 0px #000a;
	}
}
