.package-list
{
	overflow-x: hidden;
	overflow-y: scroll;
	flex-shrink: 1;
	flex-wrap: wrap;
	flex-grow: 1;
	gap: 5px;
	
	pointer-events: all;
	padding-bottom: 140px;

	h1
	{
		width: 100%;
		margin-top: 50px;
		font-size: 40px;
	}
}

.header
{
	flex-shrink: 0;
	justify-content: center;
}

WorkshopPackageList
{
	flex-shrink: 0;
	flex-grow: 1;
	gap: 16px;
	flex-direction: column;
	width: 100%;
}