WorkshopPage
{
    display: contents;
}

WorkshopPage > .body-left
{
    flex-direction: column;
    position: relative;
	max-width: 500px;


	.title
	{
		font-size: 48px;
		font-weight: 650;
	}

	.subtitle
	{
		font-size: 16px;
		margin-bottom: 64px;
	}
}

WorkshopPage > .body-right
{
	flex-direction: column;
	position: relative;
	max-width: 550px;
}

WorkshopPage > .body-right > .category
{
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 16px;
}

WorkshopPage > .body-right > .items
{
    position: relative;
    flex-grow: 1;
}

.body-content
{
	position: absolute;
	opacity: 1;
	transition: all 0.1s ease-out;
	transform: translateY( 0px );
	max-height: 100%;
	flex-shrink: 0;
	flex-grow: 0;

	&:intro
	{
		opacity: 0;
		transform: translateY( -40px );
	}

	&.hidden
	{
		opacity: 0;
		pointer-events: none;
		transform: translateY( -40px );
	}
}