
$outline: #fff;
$highlight: #5c5;

WorkshopClothingIcon
{
	width: 100px;
	height: 100px;

	background-color: #0008;
	border-radius: 4px;
	padding: 4px;
	flex-direction: column;
	backdrop-filter: blur( 10px );

	aspect-ratio: 1;
	border-radius: 4px;
	padding: 4px;
	background-color: #0008;
	transition: all 0.1s ease;
	cursor: pointer;

	&:hover
	{
		background-color: #000d;
		padding: 5px;
	}

	&:active
	{
		background-color: #0003;
		padding: 10px;
	}

	&.active
	{
		background-color: #08f;
		padding: 2px;
	}

	.card-image
	{
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		flex-grow: 1;
	}
}


