PlayerListModal
{
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur( 8px );
    background-color: #101117dd;

    .window
    {
        z-index: 1000;
        pointer-events: all;
        width: 700px;
        height: 600px;
        flex-direction: row;
        font-family: Poppins;
        background-color: #1c212e;
        border: 2px solid #1c212e;
        border-radius: 12px;
        box-shadow: 2px 2px 64px #000a;
        overflow: hidden;
        gap: 2px;
        flex-direction: column;
        color: rgba(178, 190, 212, 0.8);
    }

    .header
    {
        flex-shrink: 0;
        padding: 16px;
        font-size: 15px;
        font-weight: 550;
        background-color: #161922;
        padding: 8px 16px;
        align-items: center;
        gap: 1rem;

        .title
        {
            color: rgba( 178, 190, 212, 0.8 );
            align-items: center;
            gap: 0.5rem;

            i
            {
                opacity: 0.2;
            }
        }
    }

    .content
    {
        flex-direction: column;
        background-color: #161922;
        flex-grow: 1;
        flex-shrink: 0;
    }

    .list
    {
        padding: 8px;
        gap: 8px;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 95%;
        mask-image: linear-gradient( to bottom, black 0%, white 2%, white 95%, black 100% );
    }
}
