PlayerListRow
{
    flex-basis: 45%;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
    background-color: #30384ea3;
    border-radius: 4px;
    pointer-events: all;
    padding: 8px 16px;
    max-height: 40px;
    color: rgba( white, 0.7 );
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.2rem;
    text-shadow: 1px 0px 2px rgba( black, 0.5 );

    span
    {
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
    }

    .name
    {
        flex-shrink: 0;
    }

    > .divider
    {
        flex-grow: 1;
    }

    > .avatar
    {
        border-radius: 50%;
        height: 24px;
        aspect-ratio: 1;
        border: 0.5px solid #8a92a6;
    }

    &:hover
    {
        cursor: pointer;
        background-color: lighten( #1c212ea3, 0.6 );
        color: rgba( white, 1 );
    }

    &.is-friend
    {
        border: 1px solid #4fb04130;
    }

    &.is-host
    {
        border: 1px solid #3272ea30;
    }
}
