
AchievementUnlocked
{
    background-color: #222;
    color: white;
    border-radius: 8px;
    height: 64px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 5px 5px 50px rgba( black, 0.5 );
    sound-in: ui.popup.message.open; // todo achievement unlocked osund
    overflow: hidden;
    position: relative;
    z-index: 1000;
    transition: all 0.4s bounce-out;

    animation-delay: 0.5s;
    animation: glow-up 0.3s ease;
}

AchievementUnlocked:intro
{
    transform: scale( 0.7 );
}

:outro
{
    transition: all 0.3s ease-out;
    opacity: 0;
    transform: scale( 1.1 );
    sound-in: ui.popup.message.close;

    .b
    {
        // we need to hide this because fade is fucked
        transform: translatey( 200px );
    }
}

.icon
{
    width: 64px;
    height: 64px;
    //border-radius: 32px;
    background-size: cover;
    flex-shrink: 0;
}

AchievementUnlocked .b
{
    min-width: 300px;
    max-width: 600px;
}

AchievementUnlocked .a, AchievementUnlocked .c
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.a
{
    font-size: 22px;
    font-weight: bold;
    animation-delay: 0.5s;
    animation: achintro-a 0.2s forwards ease-in;
    animation-fill-mode: forwards;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3472e6;
    z-index: 100;
}

.b
{
    opacity: 0;
    animation-delay: 1s;
    animation: achintro-b 2.0s linear;
    animation-fill-mode: both;

}

.b .content
{
    flex-direction: column;
    padding: 8px 16px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.b .content .description
{
    font-size: 13px;
    font-weight: normal;
    opacity: 0.3;
    text-align: center;
}

.c
{
    animation-delay: 2.6s;
    animation: achintro-c 0.2s ease;
    animation-fill-mode: both;
    opacity: 0;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3472e6;
    z-index: 100;
    font-size: 28px;
    font-weight: bold;
    justify-content: space-around;
}

.c > *
{
    align-items: center;
    justify-content: center;
    gap: 8px;

    i
    {
        opacity: 0.5;
    }

    span
    {
        font-size: 20px;
        width: 60px;
    }
}

@keyframes achintro-a
{
    0%
    {
        transform: translateY( 0px );
        color: #fff;
    }

    100%
    {
        transform: translateY( 90px );
        color: #fff0;
    }
}


@keyframes achintro-b
{
    0%
    {
        opacity: 1;
    }

    10%
    {
        opacity: 1;
    }

    90%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 1;
    }
}



@keyframes achintro-c
{
    0%
    {
        transform: translateY( 100px );
        opacity: 1;
        color: red;
    }

    100%
    {
        transform: translateY( 0px );
        opacity: 1;
        color: white;
    }
}


@keyframes glow-up
{
    0%
    {
        transform: scale( 1 );
    }

    50%
    {
        transform: scale( 1.1 );
    }

    100%
    {
        transform: scale( 1 );
    }
}
