.option
{
    width: 600px;
    gap: 16px;
    padding: 0px;
    font-family: Poppins;
    font-size: 18px;
    align-items: stretch;
    z-index: 100;

    .label
    {
        width: 130px;
        padding: 5px 8px;
        font-weight: bold;
        background-color: #000a;
    }

    .control
    {
        flex-grow: 1;
        background-color: #000a;
    }
}


AvatarOptions
{
    transform: rotate(1deg);
    flex-shrink: 0;
}

Slidercontrol.slidercontrol .inner
{
    .track
    {
        background-color: transparent;
        height: 32px;
    }

    .track-active
    {
        min-width: 3px;
    }

    .thumb
    {
        display: none;
    }
}