ClothingIcon {
    overflow: hidden;
    cursor: pointer;
    font-size: 10px;
    justify-content: flex-start;
    align-items: flex-end;
    flex-shrink: 0;
    position: relative;
    pointer-events: all;
    border-radius: 16px;
    width: 95px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 90px;
    aspect-ratio: 1;

    &:hover {
        background-color: #0088ff55;
        sound-in: ui.button.over;
    }

    &.active {
        background-color: #0088ff;
    }

    .avatar {
        background-size: contain;
        pointer-events: none;
        width: 100%;
        height: 100%;
    }

    .icon {
        font-family: Material Icons;
        font-size: 18px;
        padding: 2px 8px;
        opacity: 1;
        position: absolute;
        right: 2px;
        bottom: 2px;
        border-radius: 20px;
        opacity: 0.2;

        &:hover {
            opacity: 1;
        }
    }
}
