ClothingItemSelector
{
	font-family: Poppins;
	font-weight: bold;
	color: #eee;
	flex-direction: column;
	font-size: 32px;
	white-space: nowrap;
	flex-shrink: 0;
	flex-grow: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: all 0.2s ease-out;
	padding: 0px 16px 16px 0px;
	align-items: center;
}

ClothingItemSelector.hidden
{
	opacity: 0;
	transform: translateY( -20px );
	transition: all 0.1s ease-in;
	pointer-events: none;
}

ClothingItemSelector > .category
{
	justify-content: center;
	flex-shrink: 0;
}

.tabs
{
	position: absolute;
	left: 50%;
	top: 80px;
	transform: translateX( -50% );
	pointer-events: all;
	opacity: 1;
	transition: all 0.1s ease-out;
	background-color: #08f;
	padding: 8px;
	border-radius: 16px;
	box-shadow: 2px 2px 16px #0005;
	gap: 8px;
}

.tabs:intro
{
	top: 50px;
	opacity: 0;
	gap: 0px;
}

.tabs > .connection
{
	background-color: #08f;
	position: absolute;
	bottom: 100%;
	left: 50%;
	width: 4px;
	height: 16px;
	transform: translateX( -50% );
}

.tabs > .tab
{
	gap: 10px;
	cursor: pointer;
	opacity: 0.3;
	font-size: 16px;
	font-weight: 500;
	text-shadow: 3px 3px 2px #000a;
	pointer-events: all;
	border-radius: 8px;
	width: 32px;
	height: 32px;

	.icon
	{
		font-size: 32px;
		background-position: center;

	}

	&.disabled
	{
		opacity: 0.02;
		pointer-events: none;
	}

	&:hover
	{
		opacity: 1;
		sound-in: ui.button.over;
	}

	&:active
	{
		opacity: 1;
		background-color: #fff1;
	}

	&.active
	{
		opacity: 1;
		background-color: #08f;
		color: white;
		text-shadow: none;
	}
}

.topcategorybutton
{
	align-items: center;
	gap: 2px;
	cursor: pointer;
	opacity: 0.5;
	font-size: 11px;
	text-shadow: 3px 3px 2px #000a;
	pointer-events: all;
	flex-direction: column;
	padding: 5px 8px;
	border-radius: 10px;
	font-weight: 400;
	position: relative;
	height: 64px;
	width: 80px;

	&.disabled
	{
		opacity: 0.02;
		pointer-events: none;
	}

	.icon
	{
		max-height: 40px;
		transition: all 0.1s ease;
		pointer-events: none;
	}

	.title
	{
		opacity: 0;
		transition: all 0.2s ease;
		position: absolute;
		top: 0px;
		pointer-events: none;
	}

	&:hover
	{
		opacity: 1;
	}

	&:active
	{
		opacity: 1;
		background-color: #fff1;
	}

	&.active
	{
		opacity: 1;
		background-color: #08f;
		color: white;
		text-shadow: none;
	}

	&:hover, &.active
	{
		> .title
		{
			opacity: 1;
			top: 7px;
		}

		> .icon
		{
			margin-top: 16px;
		}
	}
}

.items
{
	flex-grow: 1;
	flex-shrink: 1;
	pointer-events: all;
	z-index: -100;
	padding-top: 200px;
	margin-top: -100px;
	overflow: scroll;
	flex-direction: column;
	align-items: center;
	mask: linear-gradient( to bottom, black, white ) top top / 100% 128px;
	width: 565px;
}

.items.bg-round
{
	border-radius: 0px 8px 8px 8px;
}

.items .container
{
	flex-shrink: 0;
	gap: 16px;
	flex-direction: column;
}

.item-group
{
	flex-direction: column;
	flex-shrink: 0;
	border-radius: 20px;
	padding: 16px;

	.item-grid
	{
		flex-wrap: wrap;
		gap: 2px;
		flex-shrink: 0;
		flex-grow: 0;

		ClothingIcon
		{
			aspect-ratio: 1;
			width: 86px;
			border-radius: 4px;
			padding: 4px;
			background-color: #0008;
			transition: all 0.1s ease;

			&:hover
			{
				background-color: #000d;
				padding: 5px;
			}

			&:active
			{
				background-color: #0003;
				padding: 10px;
			}

			&.active
			{
				background-color: #08f;
				padding: 2px;
			}
		}
	}
}

.section-title
{
	font-size: 16px;
	font-weight: 600;
	justify-content: flex-start;
	padding-bottom: 16px;
	mix-blend-mode: lighten;
	opacity: 1;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.options-panel
{
	pointer-events: all;
	flex-shrink: 0;
	flex-direction: column;
	padding: 16px;
	margin: 16px;
}

.options-panel > .header
{
	padding: 0;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
	font-size: 16px;
	margin-bottom: 16px;

	.title
	{
		flex-grow: 1;
	}
}

.options-panel > .header > .close
{
	cursor: pointer;
}
