FormRow 
{
    width: 500px;
    flex-shrink: 0;
    gap: 10px;
    overflow: hidden;
}

FormRow > .label
{
    width: 150px;
    padding: 4px;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
}

FormRow > .content 
{
    flex-shrink: 0;
    flex-grow: 1;
    width: 340px;
}