Categories
{
	font-family: Poppins;
	font-weight: bold;
	color: #eee;
	flex-direction: row;
	font-size: 32px;
	white-space: nowrap;
}

.level0
{
	flex-direction: column;
	width: 200px;
}

.level1
{
	flex-direction: column;
	width: 200px;
}

.categorybutton
{
	align-items: center;
	gap: 10px;
	padding: 15px 20px;
	cursor: pointer;
	opacity: 0.4;
	font-size: 20px;
	text-shadow: 3px 3px 2px #000a;
	pointer-events: all;

	&.disabled
	{
		opacity: 0.02;
		pointer-events: none;
	}

	.icon
	{
		font-family: Material Icons;
		font-size: 32px;
	}

	&:hover
	{
		opacity: 1;
	}

	&.active
	{
		background-color: white;
		color: #222;
		opacity: 1;
	}
}
