BodySettings
{
    flex-direction: column;
    gap: 8px;
}

TextEntry
{
    font-size: 32px;
    margin-bottom: 32px;
}

.skin-items
{
    gap: 10px;
    flex-wrap: wrap;

    ClothingIcon
    {
        width: 70px;
        height: 70px;
        aspect-ratio: 1;
        border-radius: 8px;
    }
}
