
FriendEntry
{
    flex-shrink: 0;
    max-height: 48px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 4px;
    border-radius: 64px;

    &:hover
    {
        background-color: rgba( 255, 255, 255, 0.02 );

        &:not( .active )
        {
            sound-in: ui.button.over;
        }
    }

    &.offline
    {
        opacity: 0.4;
    }

    .avatar
    {
        width: 40px;
        height: 40px;
        background-size: cover;
        border-radius: 100%;
        margin-right: 8px;
    }

    .info
    {
        flex-direction: column;
        flex-grow: 1;
    }

    .name
    {
        font-size: 14px;
        color: #fff;
        font-weight: 600;
    }

    .status
    {
        flex-grow: 0;
        font-size: 10px;
        font-weight: 500;
        border-radius: 8px;
        color: white;
    }

    &.ingame
    {
        .avatar
        {
            border: 2px solid #3472e6;
        }

        .status
        {
            color: #3472e6;
        }
    }

    &.online .status
    {
        color: white;
    }   

    &.offline .status
    {
        color: gray;
    }

    .actions
    {
        flex-grow: 0;
        gap: 8px;
    }

    .button-simple
    {
        align-items: center;
        cursor: pointer;
        font-size: 16px;
        padding: 8px 8px;
        color: white;
        transition: all 0.1s ease-out;
        gap: 8px;
        border-radius: 32px;
        background-color: transparent;

        &:hover
        {
            background-color: white;
            color: red;

            &:not( .active )
            {
                sound-in: ui.button.over;
            }
        }
    }
}
