FriendsListModal
{
    font-family: Poppins;

    .inner
    {
        width: 450px;
        max-height: 60%;
        pointer-events: all;
        overflow-y: scroll;
        background: linear-gradient( to bottom, #1d212f, #1c202d );
        flex-direction: column;
        border-radius: 16px;
        box-shadow: 2px 2px 20px #0005;

        .friends-list
        {
            padding: 8px 16px 16px 16px;
            flex-direction: column;
            overflow-y: scroll;
            gap: 8px;
        }
    }
}

h2
{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    flex-shrink: 0;
    margin: 8px 0;
    align-items: center;
    gap: 8px;

    i
    {
        font-size: 24px;
    }
}


.header
{
    flex-shrink: 0;
    margin: 2px;
    border-radius: 16px 16px 0px 0px;
    padding: 8px 16px;
    color: white;
    background-color: #323b5233;
}