@import '../styles/mainmenu.scss';

.modal.organization-modal {
    flex-shrink: 0;
    font-family: Poppins;
    font-size: 24px;

    .org-window {
        width: 1200px;
        height: 800px;
        pointer-events: all;
        border-radius: 10px;
        z-index: 50;
        box-shadow: 10px 10px 10px #0008;
        background-color: #16181e;
        backdrop-filter: blur(8px);
        gap: 8px;
        padding: 16px;
        flex-direction: column;

        .header-bar {
            width: 100%;
            height: 160px;
            flex-shrink: 0;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
            color: white;

            .left {
                gap: 8px;
                flex-grow: 1;
                align-items: center;

                > .column {
                    align-items: center;
                }

                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 6px;

                    &.large {
                        width: 128px;
                        height: 128px;
                        border-radius: 12px;
                    }
                }

                .title {
                    font-size: 38px;
                    font-weight: 700;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .org {
                    font-size: 18px;
                    cursor: pointer;
                    gap: 8px;

                    &:hover {
                        text-decoration: underline;
                        sound-in: ui.button.over;
                    }
                }
            }

            .right {
                margin-right: 16px;
                flex-shrink: 0;

                PackageRatingButtons {
                    gap: 32px;
                }
            }
        }

        .game-tile
        {
            min-width: 23.9%;
        }
    }
}

HeaderTab {

    .btn {
        border: 0px solid transparent;

        i {
            color: white;
            opacity: 0.3;
        }
    }

    &.active {
        .btn {
            background-color: rgba(white, 0.02);
        }

        i {
            opacity: 0.8;
        }
    }
}

.search-bar {
    min-width: 300px;
    max-width: 300px;
    height: 52px;
    background-color: rgba(black, 0.5);
    border-radius: 32px;
    align-items: center;
    gap: 8px;
    padding-left: 8px;

    i {
        flex-shrink: 0;
    }

    TextEntry {
        width: 100%;
    }
}