$primary: #3472e6;

.modal.package-selection-modal
{

    .window
    {
        z-index: 1000;
        pointer-events: none;
        pointer-events: all;
        width: 1700px;
        height: 1000px;
        flex-direction: column;
        padding: 32px;
        font-family: Poppins;
        background-color: #111e;
        border-radius: 16px;
        box-shadow: 10px 10px 150px #0005;
        overflow: hidden;

        packageselector
        {
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 100%;
        }

        packagefilterfacet, packagefilterorder, textentry
        {
            border-radius: 16px;
        }

        .card-package
        {
            .orgrow
            {
                color: white;
            }

            .body-meta
            {
                color: white;
            }
        }

        h2
        {
            margin-bottom: 16px;
            font-weight: bold;
            text-transform: uppercase;
            color: white;
            font-size: 28px;
            flex-shrink: 0;
        }
    }

    packagelist virtualgrid
    {
        padding: 32px;
        gap: 16px;
    }
}
