
CartButton
{
    justify-content: center;
    align-items: center;

    background: linear-gradient( to bottom, rgba(121,153,5,1) 0%, rgba(83,105,4,1) 95%);
    padding: 7px 20px;
    color: #D2E885;
    border-radius: 4px;
    cursor: pointer;
    gap: 20px;
    height: 64px;
    transition: all 0.2s ease;
}

CartButton:hover
{
    color: #fff;
    filter: brightness( 2 );
}

CartButton:active
{
    color: #fff;
    filter: brightness( 3 );
}


CartButton.empty
{
    opacity: 0.5;
    filter: saturate( 0 );
    pointer-events: none;
}

CartButton i
{
    font-size: 32px;
    justify-content: center;
    align-items: center;
}

CartButton .info
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

CartButton .info .CheckOut
{
    font-size: 14px;
    opacity: 0.6;
}

CartButton .empty
{
    opacity: 0.5;
    font-size: 18px;
    font-weight: bold;
}