
ItemTile
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 550px;
    background-color: #0003;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0.8;
}

ItemTile:hover
{
    opacity: 1;
}

ItemTile .left
{
    width: 180px;
    height: 180px;
    flex-shrink: 0;
}

ItemTile .right
{
    flex-direction: column;
    padding: 18px;
    flex-grow: 1;
}

ItemTile .title
{
    font-family: poppins;
    font-weight: bold;
    font-size: 20px;
}

ItemTile .description
{
    font-size: 15px;
    opacity: 0.2;
}

ItemTile .enddate
{
    color: #08f;
    font-weight: bold;
}

ItemTile .spacer
{
    flex-grow: 1;
}

.bottom .spacer
{
    flex-grow: 1;
}

.cart
{
    flex-direction: row;
    align-items: center;
}

.cart .count
{
    padding: 0 5px;
    justify-content: center;
    align-items: center;
    min-width: 32px;
}

.cart .price
{
    flex-grow: 1;
    padding: 0 20px;
}

.cart .adder
{
    background-color: #444a;
    border-radius: 10px;
    overflow: hidden;
}

.cart .add, .cart .remove
{
    background: linear-gradient( to bottom, rgba(121,153,5,1) 0%, rgba(83,105,4,1) 95%);
    padding: 7px;
    color: #D2E885;
    border-radius: 4px;
    cursor: pointer;
}


.cart .add:hover, .cart .remove:hover
{
    color: #fff;
    filter: brightness( 2 );
}

.cart .add:active, .cart .remove:active
{
    color: #fff;
    filter: brightness( 3 );
}


.owned
{
    color: red;
    font-weight: bold;
}