ItemStore
{
    position: relative;
}

.itemlist
{
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    flex-grow: 1;
    flex-shrink: 1;
    mask: linear-gradient( to top, white, black ) top top / 100% 200px;
    padding-top: 100px;
    padding-bottom: 200px;
}

.store-header
{
    margin: 32px;
    justify-content: flex-end;
    flex-shrink: 0;
    z-index: 100;
    margin-bottom: -100px;
    pointer-events: none;
}

CartButton
{
    pointer-events: all;
}

.itemlist
{
    margin: 32px;
}