LiveLobbies
{
	flex-direction: column;
	gap: 1rem;
}

.entry
{
	flex-direction: column;
}

.x
{
	padding: 10px;
	gap: 5px;
}

h2
{
	font-size: 2rem;
	font-weight: 600;
	color: #08f;
	padding: 0 8px;
	text-transform: lowercase;
	flex-shrink: 0;
}

.lobby-list
{
	flex-direction: column;
	gap: 5px;
}