
.btn {
    align-items: center;
    background-color: rgba(#252e3F,0.1);
    border: 1px solid $border-color;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    justify-content: center;
    //min-width: 100px;
    padding: 0 16px;
    height: 48px;
    transition: all 0.1s ease;

    i {
        color: rgba($light-blue,0.5);
        font-size: 24px;
        margin-right: 8px;
    }

    &:hover {
        background-color: rgba(#252e3F,0.4);
    }

    &.round {
        border-radius: 32px;
    }

    &:active {
        transform: scale(0.9);
    }
    
    &:hover:not( .active )
    {
        sound-in: ui.button.over;
        opacity: 0.8;
    }

    &:active:not( .active )
    {
        sound-in: ui.button.press;
    }
}

