.button
{
	position: relative;
	
	> .button-right-column
	{
		flex-direction: column;
	}
}

//  default menu position is below
.button-hover-menu
{
	position: absolute;
	top: 100%;
	flex-direction: column;

	&.hidden
	{
		opacity: 0;
		pointer-events: none;
	}
}