.modal.news-modal
{
    flex-shrink: 0;
    z-index: 1100;


    .browser
    {
        width: 1220px;
        height: 100%;
        pointer-events: all;
        border-radius: 0;
        z-index: 100;
        box-shadow: 10px 10px 150px #0005;
        background-color: #1c202d;
        animation: fadein 1s linear;
    }
}

@keyframes fadein 
{
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}
