
@import '/styles/base.scss';
@import '/styles/form.scss';

devlayer
{
	width: 100%;
	z-index: 10000;
	height: 100%;
	pointer-events: none;

	&.developermode
	{
		pointer-events: all;

		// Hide the console overlay when the
		// real console is opened
		consoleoverlay
		{
			display: none;
		}
	}

	.popup-panel
	{
		pointer-events: all;
		font-family: Roboto;

		.button
		{
			font-size: 12px;
		}
	}
}

