
ExceptionNotification
{
	position: absolute;
	top: 100px;
	right: 100px;
	background-color: #802;
	border: 5px solid #fd5;
	color: #fd5;
	font-size: 15px;
	font-family: "roboto";
	padding: 16px;
	border-radius: 12px;
	box-shadow: 0 0 10px rgba( yellow, 0 );
	flex-direction: row;
	align-items: flex-start;
	pointer-events: auto;
	transition: all 0.1s ease;
	gap: 16px;

	iconpanel
	{
		color: yellow;
		font-size: 36px;
	}

	&.fresh
	{
		background-color: #ff0056;
		opacity: 1;
	}

	&.hidden
	{
		opacity: 0;
		transition: all 0.5s linear;
	}
}


.column
{
	flex-direction: column;
	font-size: 12px;
}

.column *:first-child
{
	font-size: 20px;
	font-family: poppins;
	font-weight: bold;
	margin-bottom: 8px;
}