ServerList
{
	flex-direction: column;
	padding: 32px;
	overflow: scroll;
	padding-bottom: 140px;
}

.notice
{
	justify-content: center;
	padding: 50px;
	font-size: 1rem;
}

.loading
{
	justify-content: center;
	padding: 50px;
	font-size: 1rem;
}

.row
{
    flex-shrink: 0;
    flex-grow: 1;
    border-radius: 8px;

    > *
    {
        padding: 8px;
        font-size: 15px;
        white-space: nowrap;
        align-items: center;
    }

    .game, .map
    {
        width: 25%;
    }

    .title
    {
        width: 30%;
        font-weight: bold;
    }

    .members
    {
        flex-grow: 1;
        justify-content: flex-end;
    }

    &:not(.header)
    {
        .game, .map
        {
            opacity: 0.3;
            gap: 8px;

            i
            {
                font-size: 24px;
            }

            img
            {
                width: 24px;
                height: 24px;
            }

            &:hover
            {
                opacity: 1;
            }
        }

        .game, .map
        {
            cursor: pointer;
        }


        &:hover
        {
            background-color: #467de422;
            color: #fff;
        }
    }

    &.header
    {
        *
        {
            color: white;
            opacity: 1;
            font-weight: 400;
        }

        .members
        {
            justify-content: center;
        }
    }
}