
.modal
{
    position: absolute;
    left: -1000px;
    right: -1000px;
    top: -1000px;
    bottom: -1000px;
    padding: 1000px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    color: white;
    transition: all 0.2s ease-out;
    background-color: #101117dd;
    transform: scale( 1 );
    backdrop-filter: blur( 8px ) contrast( 1 ) saturate( 0.5 );
    opacity: 1;
    pointer-events: all;


    &:intro
    {
        transform: translatey( -10px ) scale( 0.95 );
        backdrop-filter: blur( 0px ) contrast( 1 ) saturate( 1 );
        opacity: 0;
    }

    &:outro
    {
        transform: translatey( 10px ) scale( 0.95 );
        transition: all 0.1s ease-in;
        backdrop-filter: blur( 0px ) contrast( 1 ) saturate( 1 );
        opacity: 0;
        pointer-events: none;
    }

    .modal-background
    {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        pointer-events: all;
        z-index: -10;
    }
}
