
$primary: #3472e6;
$primary-fg: #f5f8fe;

$secondary: #edcd24;
$secondary-fg: #494638;

$green: #75b741;

$danger: #edcd24;
$danger-fg: #494638;

$header-height: 120px;
$header-spacing-top: 40px;
$header-spacing-bottom: 32px;

$button-inactive: #0b0d12;
$button-inactive-top: #161923;
$button-inactive-fg: #7f8186;

$button-active: $primary;
$button-active-fg: $primary-fg;

$background: #282F3B;
$content-border: 100px;

$card-background: #262a32;
$card-foreground: #abb8cf;

$font-title: Poppins;

$padding-head: 130px;
$padding-edge: 100px;

$navbar-height: 70px;

$darkest-blue: #131820;
$muted-blue: #8F9AAE;
$light-blue: #C6D4EE;
$border-color: #1E2432;
$primary-blue: #3273EB;

$test-blue: #38507A;

// Category Colours
$genre-teal: #32EB87;
$genre-pink: #fa4ae2;
$genre-orange: #1bd64a;
$genre-blue: #2e63f4;
$genre-yellow: #c7a600;
$genre-red: #F42E2E;