
@import 'vars';
@import 'button';
@import '/styles/base.scss';
@import '/styles/form.scss';

@import 'popup';

// Elements
@import 'components/_button.scss';

.root 
{
    //overflow-y: scroll;
    width: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	flex-direction: column;
    pointer-events: all;
}

#MenuContent
{
	color: white;
	flex-grow: 1;
	flex-shrink: 1;
	font-family: "Poppins";
}

mainmenupanel > .navigator
{
	flex-grow: 1;
	flex-direction: row;
	opacity: 1;
}

mainmenupanel .menuleft
{
	> div
	{
		flex-direction: column;
	}

	.section
	{
		flex-direction: column;
	}
}


mainmenupanel
{
	transition: all 0.1s ease-out;
	flex-direction: column;
	transform-origin: 50% 50%;
	background-size: cover;
	background-position: center;
	font-family: Roboto;
	pointer-events: none;

	&.hidden
	{
		transition: all 0.1s ease;
		opacity: 0;
		transform: scale( 1.1 );
		backdrop-filter: blur( 0px );
	}

	&:intro
	{
		background-color: rgba( black, 0 );
	}
}

mainmenupanel > .body
{
	width: 100%;
	position: relative;
	flex-grow: 1;
	transition: all 0.2s 0.1s ease-out;
	padding: 60px;
	padding-top: 0;
	

	&:intro
	{
		transform: scale( 0.9 );
		opacity: 0;
	}
}




mainmenupanel.has-overlay > .body
{
	opacity: 0;
	transition: all 0.1s ease;
}

.actions
{
	&.actions-side-bar
	{
		position: absolute;
		bottom: 40px;
		width: 200px;
		right: 96px;

		.container
		{
			flex-direction: column;

			button
			{
				margin-right: 0;
				margin-top: 10px;
				text-align: center;

				label
				{
					width: 100%;
				}
			}
		}
	}
}

.scroll
{
	overflow: scroll;
	flex-grow: 1;
	flex-shrink: 1;
}

.grow
{
	flex-grow: 1;
}

.grow-2
{
	flex-grow: 2;
}

.grow-3
{
	flex-grow: 3;
}



.rows
{
	flex-direction: row;
}

.needs-tools
{
	display: none;
}

.has-tools .needs-tools
{
	display: flex;
}

.navigator-body.page
{
	flex-grow: 1;
	pointer-events: all;
	// padding-top: 32px;
	// padding-left: 32px;
	// padding-right: 32px;
	// padding-bottom: 80px;
}

.toolbar
{
	flex-shrink: 0;

	.spacer
	{
		flex-grow: 1;
	}

	textentry
	{
		background-color: rgba( white, 0.01 );
		border-radius: 2px;
		color: white;
		font-size: 12px;

		.iconpanel
		{
			color: rgba( white, 0.5 );
			font-size: 15px;
		}
	}
}



.toolbar, .tabcontainer > .tabs
{
	border-bottom: 2px solid rgba( white, 0.01 );
	padding-bottom: 5px;
	height: 30px;

	.button
	{
		border: none;
		padding: 5px 20px;
		padding-left: 0px;
		min-height: 0px;
		opacity: 0.1;
		transition: all 0.2s ease;
		background-color: transparent;
		font-size: 15px;
		font-weight: 300;

		.iconpanel
		{
			margin: 0;
			margin-right: 5px;
		}

		&.tight
		{
			padding: 0;
			height: 20px; // hack
			min-width: 0px;
			justify-content: center;
		}

		&:hover
		{
			border: none;
			opacity: 0.15;
		}

		&.active
		{
			border: none;
			opacity: 1;
		}
	}
}

.toolbar.is-secondary
{
	height: auto;
	border: 0;
	flex-shrink: 0;
	margin-bottom: 10px;

	.button
	{
		min-height: 0;
		height: auto;
		padding: 5px 10px;
	}

	.button .label
	{
		font-size: 13px;
	}
}

.sidebar .tabcontainer
{
	> .sheets
	{
		border: none;
		padding-top: 20px;
	}
}

.dialog
{
	flex-direction: column;
	flex-grow: 1;

	> .head
	{
		flex-grow: 0;
		flex-shrink: 0;
	}

	> .body
	{
		flex-grow: 1;
		flex-direction: column;
		padding: 10px;
	}

	> .foot
	{
		flex-grow: 0;
		flex-shrink: 0;
		padding: 10px;
		flex-direction: row-reverse;
	}
}

.footer-space
{
	padding-bottom: 120px;
}


.listinspector
{
	max-height: 300px;
	overflow: scroll;

	> .row
	{
		padding: 5px 0px;
		flex-shrink: 0;

		> .control
		{
			padding-right: 5px;
		}

		.button-delete
		{
			border-color: transparent;
			background-color: transparent;

			.iconpanel
			{
				content: 'clear';
			}
		}
	}
}

localgamelist
{
	padding-bottom: 90px;
}


.grow
{
	flex-grow: 1;
}

i
{
	font-family: "Material Icons";

	&.small
	{
		font-size: 12px;
	}

	&.medium
	{
		font-size: 18px;
	}

	&.large
	{
		font-size: 26px;
	}
}

h1
{
	font-size: 60px;
	font-family: "Poppins";
	font-weight: 500;
}

row, .flex-row
{
	flex-direction: row;
	flex-shrink: 0;
}

.flex-gap-32
{
	gap: 32px;
}

.flex-gap-16
{
	gap: 16px;
}

.flex-gap-8
{
	gap: 8px;
}

.flex-gap-4
{
	gap: 4px;
}

column, .flex-column
{
	flex-direction: column;
	flex-shrink: 0;
}

grow, .grow
{
	flex-grow: 1;
}

shrink, .shrink
{
	flex-shrink: 1;
}

.nowrap
{
	white-space: nowrap;
	overflow: hidden;
}

.faded
{
    opacity: 0.4;
}

.contentblock
{
	margin: 10px;
	flex-direction: column;

	> h2
	{
		font-size: 16px;
		text-transform: uppercase;
		font-weight: bold;
		font-family: "Poppins";
		margin-bottom: 10px;
		opacity: 0.1;
	}

	> .body
	{
		flex-direction: column;
		flex-grow: 1;
		border-radius: 10px;
	}

	.text-content
	{
		font-size: 16px;
        margin: 30px;
        overflow: scroll;
	}
}

.card
{
	flex-direction: row;

	&.card-vertical
	{
		flex-direction: column;
	}

	.card-image
	{
		background-position: center;
		background-size: cover;
	}

	.card-body
	{
		flex-direction: column;
		padding: 10px;

		h2
		{
			font-size: 18px;
            margin-bottom: 5px;
			font-weight: bold;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}

.tile-canvas
{
	flex-wrap: wrap;

	> .card
	{
		flex-grow: 1;
	}
}




.friend-name
{
	color: $primary;
}

.is-me.friend-name
{
	color: $secondary;
}

.is-friend.friend-name
{
	color: $green;
}

.loading-status
{
	width: 100%;
	justify-content: center;
	margin: 100px 0px;
	font-size: 30px;
	opacity: 0.2;

	i
	{
		font-size: 200px;
	}
}

CurrentGame
{
	LogoAndTitle
	{
		flex-direction: column;

		.package-logo
		{
			height: 130px;
			border-radius: 0;
			margin: 0;
		}
	}
}


LoaderFullScreen
{
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	position: absolute;
	pointer-events: none;

	.indicator
	{
		border: 1px solid #fff2;
		width: 300px;
		height: 30px;
		border-radius: 3px;
		opacity: 1.0;
		transition: all 1.0s 0.5s linear;
		padding: 2px;

		&:intro
		{
			opacity: 0.0;
		}

		.progress
		{
			background-color: #fff4;
			border-radius: 2px;
			height: 100%;
		}
	}
}

