
NotificationRow
{
    flex-shrink: 0;
    font-family: Poppins;
}

.read
{
    opacity: 0.5;
}

NotificationRow:hover
{
    opacity: 1;
}

.meta
{
    font-size: 13px;
    font-weight: 550;
    opacity: 0.5;
}

.text
{
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;

    &:hover
    {
        color: white;
    }
}