
NotificationButton
{
    position: relative;
}

.count
{
    position: absolute;
    top: 20px;
    right: -6px;
    background-color: #3d88ff;
    color: white;
    padding: 1px 3px;
    border-radius: 4px;
    pointer-events: none;
}

Button.active .iconpanel
{
    border: 1px solid #3d88ff;
    color: white;
}