
NotificationList.popup-panel
{
    width: 500px;
    border-radius: 10px;
    height: 500px;
    min-height: 100px;
    overflow: hidden;
    padding: 16px;
}

NotificationList > .inner
{
    flex-direction: column;
    overflow: scroll;
    gap: 8px;
}