ConvarToggle
{
    padding: 1rem;
    cursor: pointer;
    font-family: Poppins;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
    background-color: #ffffff05;
    color: #fffa;
}

ConvarToggle:hover
{
    background-color: #fff1;
    color: #fff
}

ConvarToggle.active
{
    background-color: #0088ff;
    color: #fff;
}