CreateGameModal
{
    .window
    {
        z-index: 1000;
        pointer-events: all;
        width: 700px;
        height: 500px;
        flex-direction: row;
        font-family: Poppins;
        background-color: #1c212e;
        border: 2px solid #1c212e;
        border-radius: 12px;
        box-shadow: 2px 2px 64px #000a;
        overflow: hidden;
        gap: 2px;
        flex-direction: column;
        color: rgba(178, 190, 212, 0.8);
    }
}


CreateGameModal .tabs
{
    flex-shrink: 0;
    font-family: Poppins;
    font-size: 13px;
    padding-bottom: 0px;
    flex-direction: column;
    padding: 8px;

    > *
    {
        cursor: pointer;
        padding: 4px 8px;
        border-radius: 8px;
        min-width: 150px;
    }

    > *:hover
    {
        opacity: 0.8;
        color: white;
    }

    > .active
    {
        opacity: 1;
        font-weight: bold;
        pointer-events: none;
        background-color: #3d88ff;
        color: white;
    }
}

CreateGameModal .header
{
    flex-shrink: 0;
    padding: 16px;
    font-size: 15px;
    font-weight: 550;
    background-color: #161922;
    padding: 8px 16px;
    color: rgba(178, 190, 212, 0.8);
    align-items: center;
    gap: 1rem;

    .title
    {
        align-items: center;
        gap: 0.5rem;

        i
        {
            opacity: 0.2;
        }
    }
}

CreateGameModal .dropdown
{
    cursor: pointer;
}

CreateGameModal .dropdown, TextEntry
{
    align-items: center;
    gap: 4px;
    padding: 4px;
    background-color: #202430;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #0005;
    flex-grow: 1;
    height: 32px;
}

CreateGameModal .body
{
    flex-grow: 1;
    flex-direction: row;
}

CreateGameModal SliderControl
{
    flex-grow: 1;
}

CreateGameModal .content
{
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    overflow-x: hidden;
    overflow-y: scroll;

    padding: 32px;
    gap: 8px;
    background-color: #161922;
}

CreateGameModal .footer
{
    flex-shrink: 0;
    justify-content: flex-end;
    padding: 16px;
    background: linear-gradient( to bottom, #181b27, #161922 );
}

CreateGameModal .footer .button
{
    padding: 4px 8px;
    border-radius: 8px;
}

.entry
{
    flex-direction: row;
    align-items: center;

    .is-label
    {
        width: 150px;
        flex-shrink: 0;
        flex-grow: 0;
        padding: 4px;
    }

    .control
    {
        align-items: center;
        gap: 8px;
        flex-grow: 1;
    }
}
