
ActionBar
{
    width: 100%;
    border-top: 1px solid #3334;
    flex-shrink: 0;
}

    ActionBar > .left
    {
        flex-grow: 1;
        width: 100px;
        padding: 32px;
    }

    ActionBar > .right
    {
        justify-content: flex-end;
        gap: 10px;
        padding: 32px;
    }

Button
{
    border-radius: 8px;
    flex-shrink: 0;
    gap: 0px;
}

Button
{
    font-size: 16px;
    font-weight: bold;
    font-family: Poppins;
}

    Button .count
    {
        background-color: #666;
        padding: 0px 5px;
        border-radius: 5px;
        opacity: 0.2;
        margin-left: 8px;
        font-size: 12px;
    }

    Button.play
    {
        background-color: #6a4;
        color: #cfb;
        transition: all 0.2s ease;

        &:hover
        {
            background-color: #8c7;
            color: #fff;
        }

        &.disabled
        {
            opacity: 0.2;
            pointer-events: none;
            background-color: #444;
            color: #777;
        }
    }
