FeedRow
{
    flex-shrink: 0;
    font-family: Poppins;

}

FeedRow .message
{
    gap: 5px;
    flex-direction: row;
    font-size: 14px;
    font-weight: 600;
}

FeedRow .message .text
{
    color: #d4def6;
}

FeedRow .meta
{
    color: #747e90;
    font-size: 12px;
}