ConsoleRow
{
    flex-shrink: 0;
    flex-grow: 0;
    color: #a0a4a7;
    width: 100%;
    cursor: pointer;
    align-items: center;
    white-space: pre;

    .time
    {
        color: red;
        margin-right: 5px;
        background-color: rgba(104, 125, 104, 0.2);
        color: #687d68;
        padding: 1px 5px;
        flex-shrink: 0;
        flex-grow: 0;
        white-space: nowrap;
    }

    .message
    {
        white-space: nowrap;
    }

    &.trace
    {
        opacity: 0.6;
    }

    &.warn
    {
        color: #d47050;
    }

    &.error
    {
        color: #BF616A;
        background-color: rgba(#BF616A, 0.05);
    }

    &:hover
    {
        background-color: #333;
    }

    &.in
    {
        color: #68bf61;
    }

    &.highlight
    {
        background-color: rgba(#fff, 0.02);
        color: white;
    }
}
