

console .logeventpanel
{
    background-color: #202022;
    color: #fff;
    border-radius: 3px;
    box-shadow: 5px 5px 40px #000a;
    padding: 0px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    height: 200px;
    transition: all 0.2s ease-in-out;
    font-size: 11px;
    font-weight: 600;
}

console .logeventpanel.hidden
{
    height: 0px;
}

console .logeventpanel .message
{
    flex-direction: column;
    white-space: pre;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
}

console .logeventpanel .message > *
{
    flex-shrink: 0;
}

.message .text
{
    padding: 8px;
}

.message .stack
{
    overflow: hidden;
    overflow-y: scroll;
    flex-shrink: 0;
    flex-grow: 1;
    height: 200px;
    flex-direction: column;
}

.message .stack > *
{
    flex-shrink: 0;
    flex-grow: 1;
    padding: 8px;
}

console .logeventpanel .close
{
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #ccc;
    border-radius: 100px;
    padding: 5px;
    z-index: 1000;

    &:hover
    {
        background-color: #fff2;
    }
}

console .logeventpanel .message .stack
{
    opacity: 0.5;
}
