StatValue
{
    flex-shrink: 0;
    color: #fffa;
    gap: 10px;
    white-space: nowrap;

    name
    {
        flex-grow: 1;
    }

    value
    {
        color: #b6ff00ff;
        width: 80px;
        flex-shrink: 0;
        justify-content: flex-end;
        font-weight: 500;
        font-family: Roboto Mono;
    }
}
