StatsContainer
{
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}

.statbox
{
    border-radius: 8px;
    flex-direction: column;
    padding: 16px;
    font-family: Poppins;
    font-size: 12px;

    title
    {
        color: #ff00dc;
        font-weight: 300;
        font-size: 14px;
        flex-shrink: 0;
        margin-bottom: 8px;
        letter-spacing: 2px;
        padding-left: 10px;
    }
}