AvatarUI
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	flex-direction: column;
	font-family: Poppins;
	color: white;
	font-weight: 600;
	text-shadow: 3px 3px 2px #000a;

	&.hide
	{
		opacity: 0;
	}
}


AvatarUI > .header
{
	width: 100%;
	flex-shrink: 0;
	pointer-events: all;
	padding: 20px;

	.center
	{
		flex-grow: 1;
		justify-content: center;
		align-items: center;
	}

	.left, .right
	{
		width: 500px;
	}
}

AvatarUI > .controls
{
	width: 100%;
	flex-shrink: 0;
	padding: 64px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	gap: 1rem;

	> .left, > .right
	{
		width: 500px;
	}

	> .center
	{
		align-items: center;
		justify-content: center;
		flex-grow: 1;
	}
}

.headerbutton
{
	align-items: center;
	gap: 10px;
	padding: 15px 20px;
	cursor: pointer;
	font-size: 20px;
	border-radius: 20px;
	backdrop-filter: brightness( 0.4 ) blur( 10px );
	pointer-events: all;

	&.disabled
	{
		opacity: 0.02;
		pointer-events: none;
	}

	.icon
	{
		font-family: Material Icons;
		font-size: 32px;
	}

	&:hover
	{
		opacity: 1;
		background-color: #08f;
		sound-in: ui.button.over;
	}

	&:active
	{
		background-color: white;
		color: #222;
		opacity: 1;
		sound-in: ui.button.press;
	}
}

.body
{
	flex-grow: 1;
	justify-content: space-between;

	.body-left
	{
		width: 30%;
		position: relative;
		flex-shrink: 0;
		margin-left: 5%;
		margin-top: 64px;
	}

	.body-center
	{
		flex-grow: 1;
		justify-content: center;
		align-items: flex-end;
		padding-bottom: 64px;
		margin-top: 64px;
	}

	.body-right
	{
		width: 30%;
		position: relative;
		flex-shrink: 0;
		margin-right: 5%;
		margin-top: 64px;
	}
}

.footer
{
	height: 50px;
}

.bg-round
{
	border-radius: 20px;
	backdrop-filter: brightness( 0.4 ) blur( 10px );
	color: #eee;
}

ButtonGroup, .buttongroup
{
	pointer-events: all;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	gap: 5px;
	padding: 5px;

	> *
	{
		padding: 10px 20px;
		opacity: 0.5;
		border-radius: 15px;
		text-align: center;
		gap: 5px;
		justify-content: center;

		.iconpanel
		{
		font-size: 24px;
		}
	}

	> *:hover
	{
		opacity: 1;
		sound-in: ui.button.over;
	}
	
	> *:active
	{
		background-color: #2af;
		sound-in: ui.button.press;
	}

	> *.active
	{
		opacity: 1;
		background-color: #08f;
		text-shadow: 0px 0px 16px #fff6;
	}

}

TextEntry
{
	pointer-events: all;
}

SliderControl.slidercontrol
{
	> .inner
	{
		> .track
		{
			border-radius: 16px;
			height: 42px;
			backdrop-filter: brightness( 0.4 ) blur( 10px );
			overflow: hidden;
			background-color: transparent;
			margin: 0px;
			padding: 5px;

			> .track-active
			{
				border-radius: 11px;
				background-color: #08f;
				position: relative;
			}

			> .thumb
			{
				display: none;
			}
		}
	}
}