GameGroup h2
{
    font-size: 2rem;
    font-weight: 650;
    padding: 2rem;
    padding-bottom: 0;
    gap: 1rem;
}

GameGroup packagelist virtualgrid
{
    padding: 32px;
    padding-bottom: 132px;
    gap: 16px;
}
