MultiplayerPage .button
{
    font-size: 1rem;
    background-color: #467ee506;
    padding: 8px 16px;
    border-radius: 16px;
}

MultiplayerPage .button:hover
{
    font-size: 1rem;
    background-color: #467ee5;
    padding: 8px 16px;
    border-radius: 16px;
}