.root
{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.example_panel
{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    color: #444;
    margin: 40px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.example_panel.rotation
{
    animation-name: rotation;
    animation-duration: 5s;
}

@keyframes rotation
{
    0%
    {
        background-color: red;
    }

    100%
    {
        background-color: green;
    }
}
