.one
{
    margin: 50px;
    padding: 5px;
    display: flex;
    background-image: url( https://files.facepunch.com/garry/e07b558d-850e-44fd-aa1d-942a87bc5e46.png );
    background-color: #34515e;
}

.two
{
    width: 200px;
    height: 100%;
    margin-right: 5px;
    //background-color: #e91e63;

    &:hover
    {
        padding: 10px;
        width: 250px;
        background-color: #ec407a;
    }
}

.three
{
    height: 100%;
    background-color: #2196f3;
}

.four
{
    width: 100%; /*
    padding: 5px;
    margin: 2px;
    background-color: #ffeb3b;
        */
    &:hover
    {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #ffee58;
        transition: all 1s ease-out;
    }

    &:active
    {
        padding: 7px;
        background-color: #ffc107;
        transition: all 0.1s ease-out;
    }
}

.five
{
    width: 100px;
    height: 20px;
    background-color: #424242;
}
