PauseMenuModal
{
	font-family: Poppins;
	pointer-events: all;
	font-size: 11px;

	> .inner
	{
		flex-direction: column;
		background-color: transparent;
		justify-content: center;
		align-items: center;
	}
}


.options
{
	flex-direction: column;
	font-family: Poppins;
	font-size: 24px;
	font-weight: bold;
}

button.button
{
	opacity: 0.5;
	gap: 16px;
	transition: all 0.1s ease;
	width: 300px;
}

button:hover
{
	opacity: 1;
	gap: 24px;
}

.options .iconpanel
{
	font-size: 32px;
	color: #3272ea;
}

.subtitle, .title
{
	flex-shrink: 0;
	font-weight: bold;
	font-size: 40px;
}

.subtitle
{
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 32px;
	margin-top: -5px;
	opacity: 0.3;
}

MediaCardWide
{
	width: 800px;
	margin-bottom: 100px;
	pointer-events: none;
}

MediaCardWide > .inner > .image > .inner
{
	width: 300px;
	aspect-ratio: 16/9;
	pointer-events: all;
}

MediaCardWide .content .title
{
	font-size: 32px;
	pointer-events: all;
	cursor: pointer;
}

Meta > .inner 
{
	pointer-events: all;
	color: #747e90;

	i 
	{
		color: #636a77
	}
}

.meta 
{
	padding: 8px;
	gap: 16px;
}