@import "/styles/_vars.scss";

Toasts {
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: 1000;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    font-family: Poppins;
    font-size: 20px;
    width: 500px;

    ToastEntry {
        position: relative;
        transition: left 0.3s ease, opacity 0.3s ease;
        padding: 16px;
        color: white;
        pointer-events: all;
        cursor: pointer;
        width: 100%;
        height: auto;
        left: 0px;
        opacity: 1;
        background-color: rgba($darkest-blue,0.95);
        align-items: flex-start;
        border-radius: 24px;
        border: 2px solid $border-color;
        color: $light-blue;
        backdrop-filter: blur(4px);
        gap: 16px;
        align-items: center;

        > img {
            width: 92px;
            height: 92px;
            flex-shrink: 0;
        }

        .contents {
            flex-direction: column;
            gap: 16px;

            .progress-bar {
                height: 4px;
                width: 100%;
                border-radius: 0 0 24px 24px;

                .fill {
                    background-color: $light-blue;
                    height: 100%;
                }
            }
        }

        &:hover {
            background-color: rgba(darken($border-color, 0.4),0.9);
            sound-in: ui.button.over;
        }

        &:intro {
            left: 40px;
            opacity: 0;
        }

        &:outro {
            left: -40px;
            opacity: 0;
        }
    }
}