.content-blocks
{
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-bottom: 200px;
}

.content-blocks > *
{
	flex-shrink: 0;
}


.content-block-track
{
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 0px 5rem;
	gap: 1rem;
	mask: linear-gradient( to right, white, white, white, white, white, white, black );
	padding: 1rem;
}

.cblock
{
	flex-direction: column;
	flex-shrink: 0;
	padding: 1rem 0;
}