.content-block-header a
{
	font-size: 1.5rem;
	font-family: Poppins;
	font-weight: 700;
	padding: 1rem;
	padding-bottom: 1rem;
	gap: 0.4rem;
	color: #08f;

	&:hover
	{
		color: white;
	}
}

.content-block-header > .inner
{
	padding: 1rem;
	padding-left: 0;
	cursor: pointer;
}