.modal.player-modal
{
    flex-shrink: 0;
    z-index: 1100;

    .browser
    {
        margin: 100px;
        width: 1280px;
        height: 1024px;
        pointer-events: all;
        border-radius: 10px;
        z-index: 100;
        box-shadow: 10px 10px 150px #0005;
        background-color: #111;
    }
}
