
.videopanel
{
    width: 100%;

    flex-grow: 1;
    flex-shrink: 0;

    // Where we want the video controls
    align-items: flex-end;
    padding: 16px;
    justify-content: center;
    background-position: center;
    background-size: cover;
}