
FeaturedPackage
{
    height: 360px;
    width: 100%;
    position: relative;
}

.screenshot
{
    flex-grow: 1;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-right: -20px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.screenshot .gradient
{
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    height: 300px;
    background-image: linear-gradient( to bottom, #1c202b00, #1c202bee );
    z-index: -10;
}

.screenshot .stats
{
    position: absolute;
    bottom: 20px;
    right: 50px;
    z-index: 10;

    .stat
    {
        align-items: center;
        gap: 5px;
        background-color: #325832;
        color: #4bc54b;
        text-shadow: 0px 1px 0px #0004;
        padding: 8px 16px;
        border-radius: 100px;
        box-shadow: 1px 1px 10px #0003;

    }
}

.avatar
{
    position: absolute;
    left: 20px;
    bottom: -20px;
    height: 100px;
    aspect-ratio: 16/9;
    border-radius: 8px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.infocard
{
    padding: 16px 32px;
    flex-shrink: 0;
    flex-grow: 0;
    width: 400px;
    background-color: #1d222f;
    border-radius: 12px;
    flex-direction: column;
    color: #d4def6;
    box-shadow: -2px 5px 16px #0005;

    .title
    {
        font-size: 26px;
        font-weight: bold;
        color: #fff;
    }

    .org
    {
        font-weight: 600;
    }

    .description
    {
        margin-top: 16px;
        flex-grow: 1;
        opacity: 0.4;
    }
}

.ratings
{
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 32px;

    > *
    {
        gap: 8px;
        align-items: center;
        color: #c6d4ee;
        background-color: #191d29;
        border-radius: 6px;
        border: 2px solid #252e3f;
        min-width: 100px;
        justify-content: center;
        padding: 8px;
    }

    i
    {
        color: #252e3f;
        font-size: 20px;
    }
}