@import "/styles/_vars.scss";

.game-closing
{
    background-color: $primary;
    height: 64px;
    border-radius: 32px;
    padding: 0px 32px;
    color: #fff;
    font-family: "poppins";
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    pointer-events: none;
    box-shadow: 5px 5px 20px rgba( black, 0.5 );
    opacity: 1;
    transition: all 0.4s bounce-out;
    sound-in: ui.popup.message.open;
    overflow: hidden;
    padding-left: 70px;
    position: relative;

    .progress
    {
        background-color: #1115;
        position: absolute;
        bottom: 0px;
        top: 0px;
        left: 0px;
    }

    .iconpanel
    {
        position: absolute;
        top: 8px;
        left: 8px;
        width: 48px;
        height: 48px;
        aspect-ratio: 1;
        border-radius: 100px;
        align-items: center;
        text-align: center;
        font-size: 24px;
        color: rgba( $primary-fg, 0.9 );
        background-position: center;
        background-size: cover;
        background-color: rgba( black, 0.3 );
    }
}
