@import "/styles/_vars.scss";

.game-starting
{
    background-color: rgba( $primary, 0.9 );
    border-radius: 12px;
    padding: 0px 32px;
    color: #fff;
    font-family: "poppins";
    font-size: 18px;
    font-weight: 600;
    pointer-events: none;
    box-shadow: 5px 5px 20px rgba( black, 0.8 );
    opacity: 1;
    transition: all 0.2s ease-out;
    sound-in: ui.popup.message.open;
    overflow: hidden;
    padding: 8px;
    bottom: 0px;
    left: 0px;
    top: 0px;
    flex-direction: row;

    &:intro
    {
        left: -50px;
        opacity: 0;
    }

    &:outro
    {
        top: -20px;
        opacity: 0;
        transition: all 1.0s ease-in;
    }

    .left
    {
        .game-icon
        {
            width: 70px;
            height: 70px;
            background-size: cover;
            border-radius: 10px;
        }
    }

    .right
    {
        flex-direction: column;
        font-size: 11px;
        padding: 4px 16px;

        .game-title
        {
            font-size: 20px;
            font-weight: bold;
            line-height: 70%;
        }

        .game-author
        {
            justify-content: flex-start;
            color: #86b0ff;
            font-weight: 400;
        }

        .now-playing, .more-info
        {
            color: #86b0ff;
        }

        .now-playing
        {
            margin-bottom: 8px;
        }

        .more-info
        {
            font-size: 9px;
            justify-content: flex-start;
            align-items: center;
            margin-top: 8px;
            height: 32px;
            gap: 4px;
            animation-name: loader-spin;
            animation-duration: 0.8s;
            animation-timing-function: ease;
            animation-iteration-count: 1;
            animation-delay: 1.0s;
            animation-fill-mode: both;
        }
    }

    .button
    {
        padding: 0;
        background-color: white;
        padding: 1px 4px;
        border-radius: 4px;
        color: $primary;
        box-shadow: 2px 2px 5px #0003;
    }
}


@keyframes loader-spin
{
    0%
    {
        height: 1px;
        opacity: 0;
    }

    50%
    {
        height: 16px;
        opacity: 0.25;
    }


    80%
    {
        height: 16px;
        opacity: 0.5;
    }


    90%
    {
        opacity: 1;
        height: 16px;
    }

    100%
    {
        opacity: 1;
        height: 16px;
    }
}
