
GameClosedToast
{
    border-radius: 12px;
    color: #fff;
    font-family: "poppins";
    font-size: 18px;
    font-weight: 600;
    pointer-events: none;
    box-shadow: 5px 5px 20px rgba( black, 0.8 );
    opacity: 1;
    transition: all 0.2s ease-out;
    sound-in: ui.popup.message.open;
    overflow: hidden;
    flex-direction: row;
    background-color: #1b202c;
    border: 1px solid #8e9ec244;
    opacity: 1;
    padding: 16px;
    margin-bottom: 16px;
    height: 190px;
    width: 350px;
    pointer-events: all;
    position: relative;
    left: 0px;
    flex-direction: column;
    gap: 8px;

    &:intro
    {
        left: 1000px;
        height: 0px;
        margin-bottom: 0px;
        opacity: 0;
        padding: 0px;
    }

    &:outro
    {
        left: 100px;
        height: 0px;
        opacity: 0;
        transition: all 0.2s ease-in;
    }

    .left
    {
        .game-icon
        {
            width: 70px;
            height: 70px;
            background-size: cover;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .right
    {
        flex-direction: column;
        font-size: 11px;
        padding: 4px 16px;
        justify-content: center;
        gap: 8px;

        .game-title
        {
            font-size: 17px;
            font-weight: bold;
            line-height: 70%;
        }

        .game-author
        {
            justify-content: flex-start;
            color: #86b0ff;
            font-weight: 400;
        }

        .now-playing, .more-info
        {
            color: #86b0ff;
        }

        .now-playing
        {
            margin-bottom: 8px;
        }

        .more-info
        {
            font-size: 9px;
            justify-content: flex-start;
            align-items: center;
            margin-top: 8px;
            height: 32px;
            gap: 4px;
            animation-name: loader-spin;
            animation-duration: 0.8s;
            animation-timing-function: ease;
            animation-iteration-count: 1;
            animation-delay: 1.0s;
            animation-fill-mode: both;
        }
    }

    .button
    {
        padding: 0;
        background-color: white;
        padding: 1px 4px;
        border-radius: 4px;
        box-shadow: 2px 2px 5px #0003;
    }
}

.top
{
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    flex-shrink: 0;

    &:hover
    {
        color: white;
        filter: brightness( 2 );
    }
}

.body
{
    flex-grow: 1;
}

.close
{
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 8px;
    cursor: pointer;
    z-index: 10;
    border-radius: 8px;

    &:hover
    {
        background-color: #fff1;
    }
}


@keyframes loader-spin
{
    0%
    {
        height: 1px;
        opacity: 0;
    }

    50%
    {
        height: 16px;
        opacity: 0.25;
    }


    80%
    {
        height: 16px;
        opacity: 0.5;
    }


    90%
    {
        opacity: 1;
        height: 16px;
    }

    100%
    {
        opacity: 1;
        height: 16px;
    }
}


.body
{
    gap: 8px;
    padding: 0px;
}

.body .option
{
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 11px;
    cursor: pointer;
    color: #b2bfd8;
    background-color: #b2bfd805;
    padding: 1rem;
    border-radius: 8px;

    &:hover
    {
        background-color: #b2bfd822;
    }

    &.active
    {
        color: white;
    }
}

.body .option i
{
    font-size: 18px;
}

.body .option.favourite.active i
{
    color: #e93b6d;
}


.body .group
{
    border-radius: 8px;
    overflow: hidden;
    flex-grow: 2;
    gap: 1px;
}

.body .group .option
{
    border-radius: 0;
}

.close-progress
{
    height: 5px;
    border-radius: 2px;
    overflow: hidden;
    left: 0px;
    right: 0px;
    background-color: black;
    z-index: 10;
    flex-shrink: 0;

    .inner
    {
        background-color: #467de4;
        width: 30%;
    }
}