HtmlPanel
{
    flex-direction: column;
    flex-shrink: 0;
}

HtmlPanel div
{
    flex-direction: column;
    flex-shrink: 0;
}

HtmlPanel strong
{
    font-weight: bolder;
}

HtmlPanel h1
{
    font-size: 1.33rem;
    font-weight: 700;
    font-family: Poppins;
    margin: 1rem 0;
    flex-shrink: 0;
    flex-direction: column;
}

HtmlPanel label
{
    
}

strong
{
    font-weight: bold;
}

spoiler
{
    color: black;
    background-color: black;
    padding: 5px;
}

spoiler:hover
{
    color: white;
    background-color: black;
    padding: 5px;
}

pre
{
    background: #1e1e1e;
    color: #d69d85;
    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 5px;
    padding: 16px;
    font-size: 13px;
}

em
{
    font-style: italic;
}

code
{
    background-color: #0003;
    color: #78a3f3;
    padding: 5px;
    font-weight: normal;
    font-family: monospace;
}

u
{
    text-decoration: underline;
}

a
{
    color: #3472e6;
    text-decoration: underline;
    cursor: pointer;
}

a:hover
{
    color: white;
}