MediaCardWide
{
    width: 100%;
    flex-shrink: 0;
}

MediaCardWide > .inner
{
    flex-direction: row;
    gap: 16px;
    flex-shrink: 0;
    width: 100%;
}

MediaCardWide > .inner > .image 
{
    flex-shrink: 0;
    cursor: pointer;
}

MediaCardWide > .inner > .image:hover
{
    filter: brightness( 1.5 );
}

MediaCardWide > .inner > .image > .inner
{
    width: 100px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    box-shadow: 2px 2px 20px #0002;
    border: 1px solid #ffffff04;
}

MediaCardWide .content
{
    flex-direction: column;
    font-size: 14px;
    flex-grow: 1;
}

MediaCardWide .right
{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

MediaCardWide .content .title
{
    color: white;
    font-weight: 700;
    font-family: poppins;
}

