

OverlayDebug
{
    position: absolute;
    right: 20px;
    top: 110px;
    flex-direction: column;

    .children
    {
        background-color: #000;
        padding: 1rem;
        flex-direction: column;

        h2
        {
            opacity: 0.3;
        }

        .option
        {
            cursor: pointer;
            width: 100%;
            padding: 2px 5px;

            &:hover
            {
                background-color: #08f;
            }
        }
    }
}
