.statcard
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    flex-shrink: 0;
    flex-grow: 1;
    position: relative;
    padding-top: 80px;
    min-width: 130px;
}

.icon
{
    font-family: "Material Icons";
    font-size: 80px;
    position: absolute;
    color: #3273ebaa;
    mask: linear-gradient( to bottom, white, transparent );
    z-index: -10;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    justify-content: center;
}

.value
{
    font-size: 32px;
    font-weight: 650;
    color: white;
    flex-shrink: 0;
    justify-content: center;
}

.subtitle
{
    opacity: 0.5;
    flex-shrink: 0;
    justify-content: center;
}