UserComment
{
    flex-shrink: 0;
}

UserComment > .left
{
    width: 70px;
    min-width: 70px;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
    gap: 5px;
    padding-top: 8px;
}

UserComment > .left img
{
    max-width: 48px;
    border-radius: 8px;
    cursor: pointer;
}

UserComment > .right
{
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #3056adb0;
    background: linear-gradient(to right, #232d43dd, #1f283b66);
    font-size: 12px;
    color: rgb(173, 179, 203);
    min-height: 80px;
}

UserComment > .right > .header
{
    padding: 8px 16px;
    gap: 10px;

}

UserComment > .right > .header > .username
{
    font-weight: bold;
    color: white;
    cursor: pointer;
}


UserComment > .right > .header > .details
{
    opacity: 0.5;
    flex-grow: 1;
    justify-content: flex-end;
}

UserComment > .right > .content
{
    padding: 16px 16px;
    padding-top: 8px;

}

UserComment > .right > .header > .username.friend
{
    color: #fe85f0;
}