FriendGamePopup
{
    padding: 8px 16px;
    background-color: #4379dd;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    flex-direction: row;
    gap: 8px;
}

.intro
{
    opacity: 0.4;
    font-weight: 600;
    flex-shrink: 0;
}

FriendGamePopup > MediaCardWide > .inner > .image > .inner
{
    width: 38px;
    height: 38px;
}

.title
{
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    flex-shrink: 0;
}