@import '/styles/mainmenu.scss';

FriendPopup.popup-panel
{
    background-color: #181b26;
    border-radius: 8px 8px 0 0;
    font-family: Poppins;
    border: 0px solid black;
    min-width: 220px;
    sound-in: ui.button.over;
    border-bottom: 3px solid #477fe7;
    align-items: center;
    overflow: visible;
}

FriendPopup row
{
    padding: 8px 16px;
    font-weight: 550;
    font-size: 14px;
    color: #d3d9ee;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    width: 100%;

    i
    {
        color: #4379dd;
    }
}



FriendPopup row:hover
{
    color: white;
    background-color: #4379dd;

    i
    {
        color: white;
    }
}

.header
{
    flex-direction: column;
    width: 100%;

    h2
    {
        padding: 8px 16px;
        font-size: 16px;
        font-weight: bold;
        color: white;
        padding-bottom: 0;
    }

    h3
    {
        padding: 4px 16px;
        padding-top: 0;
        font-size: 12px;
    }
}

row.join
{
    color: #b6ff00;
}

.arrow
{
    color: #477fe7;
    position: absolute;
    bottom: -29px;
    font-size: 48px;
}

.is-party
{
    color: #ff55dc;
}
