QMenuBar {
    background: transparent;
    padding: 0px;
    color: $WindowBackground;
    border: 0px;
    font-family: $DefaultFont;
    font-size: 11px;
}

QMenuBar:active {
    color: $WidgetBackground;
}

QMenuBar::item {
    padding: 6px 6px;
    background: transparent;
}

QMenuBar::item:selected {
    color: $Text;
}

QMenuBar::item:pressed {
    color: $Text;
}

QMenu {
    background-color: $WidgetBackground;
    border: 0px;
    padding: 5px 0;
    margin: 0px;
    color: $Text;
    font-family: $DefaultFont;
    font-size: 11px;
}

QMenu::icon,
QMenu::indicator {
    left: 10px;
    padding: 2px;
}

QMenu::item {
    padding: 5px 20px;
    margin: 0px 5px;
    min-width: 120px;
    border-radius: $ControlRadius;
}

QMenu::item:checked {
    color: $Text;
    font-weight: bold;
    border-left: 3px solid $Primary;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

QMenu::item:selected {
    background: $SurfaceBackground;
    color: $Text;
}

QMenu::item:disabled {
    color: $TextDisabled;
}

QMenu::item:disabled:selected {
    color: $TextDisabled;
    background: transparent;
}

QMenu::separator {
    height: 1px;
    background: $Border;
    margin: 5px 0px;
}

QMenu::indicator {
    width: 13px;
    height: 13px;
}