QStatusBar {
	background-color: $StatusBarBackground;
	min-height: 26px;
	max-height: 26px;
	color: $Text;
	font-weight: 450;
	padding-bottom: 4px;
}

QStatusBar>QLabel {
	margin: 4px 2px;
	color: $TextControl;
	font-size: 11px;
}

QStatusBar::item {
	border: 0px;
}

QStatusBar>QComboBox {
	max-height: 18px;
	min-height: 18px;
}

QStatusBar>QPushButton {
	max-height: 14px;
	min-height: 14px;
}

QStatusBar>QComboBox {
	padding: 2px 8px;
}

QStatusBar>QComboBox::drop-down {
	border-left-width: 0px;
}

#HammerStatusBar {
	min-height: 30px;
}

#HammerStatusBar QLabel {
	margin: 0px;
}

#HammerStatusBar QComboBox {
	min-height: 0px;
}

#HammerStatusBar QToolBar {
	padding: 0px;
	min-height: 0px;
}

#HammerStatusBar QToolButton {
	padding: 0px 4px;
}