ProfileImage
{
    position: relative;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    flex-shrink: 0;
}

ProfileImage > .inner
{
    width: 48px;
    height: 48px;
    background-size: contain;
    border-radius: 1000px;
    //border: 2px solid #477fe7;
}

.score
{
    font-size: 10px;
    color: #fff;
    height: 16px;
    justify-content: center;

    > .inner
    {
        gap: 2px;

        i
        {
            color: #477fe7;
        }

        span
        {
            opacity: 0.7;
        }
    }
}

.me > .inner
{
    border: 2px solid #467de4;
}

.ingame > .inner
{
    border: 3px solid #467de4;
}

.online > .inner
{
    border: 2px solid #3e6fcc;
}

.offline > .inner
{
    opacity: 0.5;
}

.away > .inner
{
    opacity: 0.1;
    border: 0px solid #b6ff00;
}


.joinable > .inner
{
    border: 3px solid #b6ff00;
}

.crown
{
    position: absolute;
    top: -17px;
    right: 0px;
    z-index: 100;
    transform: rotate( 13deg );
    font-size: 18px;
}
