@import '/styles/mainmenu.scss';

CreatePartyMenu.popup-panel
{
    background-color: #181b26;
    padding: 16px;
    border-radius: 16px 16px 0 0;
    border-bottom: 3px solid #477fe7;
    overflow: visible;
    width: 350px;
    font-family: Poppins;
    font-size: 14px;
    gap: 4px;

    &.visible
    {
        opacity: 1;
        bottom: 90px;
    }
}

CreatePartyMenu .arrow
{
    color: #477fe7;
    position: absolute;
    bottom: -30px;
    left: 150px;
    font-size: 48px;
}

h2
{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}


row
{
    flex-direction: row;
    gap: 16px;
    align-items: center;
    padding: 0px 16px;

    .control-label
    {
        min-width: 110px;
        text-align: right;
    }

    .control
    {
        textentry
        {
            width: 100%;
            font-size: 11px;
            padding: 0px;
            border-radius: 5px;
            background-color: #0008;
        }

        textentry, checkbox
        {
            margin: 0px;
        }

        checkbox
        {
            width: 24px;
            height: 24px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            overflow: hidden;
            background-color: #0008;

            > .checkmark
            {
                margin: 0;
                border: 0;
            }
        }
    }
}

.footer
{
    margin-top: 32px;
    justify-content: flex-end;

    .button.primary
    {
        padding: 2px 8px;
        gap: 4px;

        label
        {
            margin-right: 0px;
        }
    }
}