
AchievementSummary
{
    margin: 1px 2rem;
    padding: 3px;
    cursor: pointer;
    background-color: #0003;
    flex-shrink: 0;
    flex-grow: 0;
}

.active AchievementSummary
{
    background-color:#447adf;
    border-radius: 8px;
}

AchievementSummary .achievement-buttons
{
    flex-direction: row;
    flex-shrink: 1;
    overflow: hidden;
    gap: 4px;
}

AchievementSummary .achievement-buttons .achievement-icon
{
    flex-shrink: 0;
    border-radius: 6px;
    height: 48px;
    width: 48px;
    aspect-ratio: 1;
    flex-grow: 1;
}

.button
{
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    padding-right: 1rem;
}

.button > div
{
    align-items: flex-end;
    gap: 5px;
}

.button .unlocked
{
    color: #fffc;
    font-weight: bold;
}

.button .splitter
{
    color: #fff9;
}

.button .total
{
    font-weight: bold;
    color: #fffc;
}

.achievement-icon
{
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    opacity: 1;
    justify-content: center;
}

.achievement-icon.locked
{
    filter: saturate( 0.8 ) brightness( 0.8 );
    opacity: 0.5;
}
