
AchievementList
{
    overflow: scroll;
    flex-grow: 1;
    flex-shrink: 0;
}

.achievement-list
{
    gap: 8px;
    padding: 2rem;
    flex-direction: column;
    color: #bcc9e2;
    flex-grow: 1;
    width: 100%;
    flex-shrink: 0;
}


.achievement
{
    flex-shrink: 0;
    gap: 1rem;
    overflow: hidden;
}

.achievement img
{
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
}

.achievement .right
{
    flex-direction: column;
    flex-grow: 1;
    padding: 3px 0;
}

.achievement .right .title
{
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.achievement .right .description
{
    opacity: 0.3;
    font-size: 12px;
    
}

.meta
{
    gap: 5px;
    flex-grow: 1;
    justify-content: flex-end;
}

.meta i
{
    opacity: 0.3;
    font-size: 18px;
}

.meta > *
{
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.achievement-icon.locked
{
    filter: saturate( 0.2 ) brightness( 0.2 );
}

.progress
{
    gap: 10px;
    flex-grow: 1;
    align-items: flex-end;
}

.progress .bar
{
    background-color: hsl(220, 22%, 25%);
    border-radius: 6px;
    overflow: hidden;
    flex-grow: 1;
    height: 10px;
}

.progress  .bar .inner
{
    width: 200px;
    background-color: #4479de;
}

.progress .text
{
    color: #4479de;
    flex-shrink: 0;
    font-size: 11px;
}

.toprow
{
    gap: 0.5rem;
    align-items: center;
}

.score, .meta > *
{
    padding: 1px 4px;
    border-radius: 4px;
    background-color: #ffffff03;
    font-size: 12px;
}

.score
{
    background-color: #4479de;
    color: white;
    font-weight: bold;
}

.locked 
{
    opacity: 0.5;
}