PackageReviews
{
    flex-direction: column;
}

PackageReviews .review-list
{
    flex-direction: column;
    padding: 32px;
    flex-shrink: 1;
    gap: 1rem;
    overflow: hidden;
    width: 100%;
}

PackageReviews
{
    overflow: hidden;
    max-width: 100%;
    overflow-y: scroll;
    flex-shrink: 0;
}

PackageReviews > h2
{
    padding: 8px 16px;
    background-color: #ffffff02;
    color: #ffffff88;
    font-weight: bold;
}

.rating-stamp
{
    display: flex;
    gap: 0.5rem;
    padding: 3px 8px;
    font-size: 12px;
}

.rating-positive
{
    color: #c8ff00aa;
    background: linear-gradient(to right, #c8ff0033, #c8ff0011);
}

.rating-promise
{
    color: #6b9ef9aa;
    background: linear-gradient(to right, #6b9ef944, #6b9ef900);
}

.rating-negative
{
    color: #d59927aa;
    background: linear-gradient(to right, #d5992733, #d5992700);
}

.review-button
{
    background-color: #457be1;
    flex-direction: column;
    border-radius: 8px;
}

.review-button .icon
{
    font-size: 64px;
}

.review-button:hover
{
    filter: brightness( 2 );
}