
PackageDescription
{
    flex-shrink: 0;
    padding: 32px;
    color: #6f7688;
    overflow: hidden;
    width: 100%;
    
}

PackageDescription HtmlPanel
{
    flex-grow: 1;
    flex-shrink: 0;
}

h1
{
    color: #489eff;
}

image
{
    max-width: 100%;
    max-height: 500px;
    margin: 8px auto;
    align-self: flex-end;
}

blockquote
{
    padding: 10px;
    padding-left: 20px;
    border-left: 2px solid #3273eb;
}

ul, ol
{
    flex-direction: column;
    gap: 2px;
}

li
{

}