PackageNews
{
    padding: 2rem;
    flex-direction: column;
    overflow: scroll;
}

PackageNews .entry
{
    gap: 2rem;
    cursor: pointer;
    padding: 1rem;
    opacity: 0.8;
    flex-shrink: 0;
}

PackageNews .entry:hover
{
    background-color: #ffffff05;
    border-radius: 8px;
    opacity: 1;
}

PackageNews .entry .media
{
    width: 200px;
    height: 100px;
    flex-shrink: 0;
    flex-grow: 0;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

PackageNews .entry .meta
{
    gap: 1rem;
    margin-bottom: 1rem;
}

PackageNews .entry .meta > *
{
    gap: 0.3rem;
    align-items: center;
    color: #4479de;
    font-size: 12px;
}

PackageNews .entry .right
{
    flex-direction: column;
}

PackageNews .entry .title
{
    font-size: 18px;
    font-weight: bold;
}

PackageNews .entry .summary
{
    color: #aab6cc;
}