PackageSummary
{
    flex-direction: column;
    padding: 0px 24px;
    gap: 4px;
    font-family: Poppins;
    color: #6f7688;
    font-size: 14px;
}

.title
{
    font-size: 26px;
    font-weight: 700;
    color: white;
}

.orgname
{
    font-weight: 550;
    cursor: pointer;
    color: #bcc9e2;

    &:hover
    {
        color: white;
    }
}


.tags
{
    padding: 8px 0;
    gap: 5px;
    flex-wrap: wrap;
}

.tag
{
    padding: 5px 8px;
    background-color: #252e3f;
    border-radius: 7px;
    font-size: 10px;
    font-weight: 550;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bcc9e2;
}