
SearchlightTab
{
    color: #c6d4ee;
    font-size: 14px;
    align-items: center;
    gap: 1rem;
    padding: 10px 15px;
    border-bottom: 2px solid transparent;
    pointer-events: all;
    cursor: pointer;

    i
    {
        color: #6a7181;
        font-size: 22px;
    }

    .title
    {
        font-weight: 600;
    }
}

SearchlightTab:hover
{

    i
    {
        color: white;
    }

    .title
    {
        color: white;
    }
}


.active SearchlightTab
{
    border-bottom: 2px solid #3472e6;
    background: linear-gradient( to bottom, #3472e600, #3472e666 );
    cursor: auto;

    i
    {
        color: #3472e6;
    }

    .title
    {
        color: white;
    }
}
