name: Build on Windows

on:
  workflow_dispatch:

jobs:
  build:
    name: Build on Windows
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install .NET 10 SDK via Chocolatey
        shell: pwsh
        run: |
          choco install dotnet-10.0-sdk -y

      - name: Run batch script
        run: |
          ./Bootstrap.bat
          dir

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Release
          path: |
            Placeholder/bin/Release/net10.0-windows/win-x64
