AvatarRigPage
{
	display: contents;
}

AvatarRigPage > .body-left
{
	flex-direction: column;
	position: relative;
	align-items: flex-start;
	gap: 8px;
}

AvatarRigPage > .body-right
{
	flex-direction: column;
	position: relative;
}

AvatarRigPage > .body-right > .category
{
	justify-content: center;
	flex-shrink: 0;
	margin-bottom: 16px;
}

AvatarRigPage > .body-right > .items
{
	position: relative;
	flex-grow: 1;
}

.rig-button
{
	background-color: #0008;
	padding: 8px;
	padding-right: 32px;
	border-radius: 8px;
	cursor: pointer;
	pointer-events: all;
	transition: all 0.1s ease;
	flex-shrink: 0;
	gap: 16px;
	font-size: 22px;
	align-items: center;
	justify-content: flex-start;

	Image
	{
		height: 32px;
	}

	&:hover
	{
		background-color: #000c;
	}

	&.active
	{
		background-color: #08f;
	}
}