.page-content {
    font-family: Poppins;
    overflow: hidden;
}

.statement {
    margin-bottom: 24px;
    padding-bottom: 8px;
    color: #aaa;
    flex: 0 0 auto;
}

.component {
    flex-direction: column;
    margin-bottom: 16px;
    border-radius: 8px;
    padding: 16px;
    background-color: #323b5233;
    box-shadow: 1px 1px 5px rgba(black, 0.2);
    flex: 0 0 auto;
}

.component h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 2rem;
    color: #c6d4ee;
}

.info-row {
    flex-direction: row;
    margin-bottom: 8px;
    width: 100%;
}

.info-label {
    font-weight: bold;
    margin-right: 8px;
    min-width: 100px;
}

.content {
    flex-grow: 1;
    color: #888;
}

.project-link {
    color: #3498db;

    &:hover {
        color: lighten(#3498db, 15%);
    }
}

.license-button {
    padding-left: 0px;
}

.license-text {
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(black, 0.2);
    border-left: 4px solid #3498db;
    width: 100%;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.license-chunk {
    white-space: pre;
    font-family: monospace;
    color: #ddd;
    margin-bottom: 4px;
    width: 100%;
    flex: 0 0 auto;
    align-self: flex-start;
}