
SettingsFooter
{
    flex-shrink: 0;
    padding: 16px;
}

SettingsFooter > .left
{
    flex-grow: 1;
    gap: 16px;
}

SettingsFooter > .right
{
    gap: 16px;
}

SettingsFooter button.button
{
	font-family: Poppins;
	background-color: #525967;
	color: white;
	font-size: 14px;
	padding: 4px 16px;
	font-weight: bold;
	border-radius: 8px;
	cursor: pointer;
	border: 3px solid transparent;
	gap: 8px;

	&:hover
	{
		filter: brightness( 1.5 );
	}

	&.active
	{
		filter: brightness( 2.5 );
		color: white;
	}

	IconPanel
	{
		font-size: 28px;
		opacity: 0.5;
	}

	label
	{
		flex-grow: 1;
		text-align: center;
	}
}

SettingsFooter button.button.primary
{
	background-color: #3171E6;
}