
SettingsPage
{
    flex-direction: column;
    flex-grow: 1;
    font-size: 14px;
}

SettingsPage > .tabs
{
    flex-shrink: 0;
    margin: 0px 32px;

    Button
    {
        font-family: poppins;
        font-weight: 600;
        padding: 8px 12px;
        padding-top: 16px;
        font-size: 16px;
    }
}

SettingsPage > .body
{
    flex-shrink: 1;
    flex-grow: 1;
    background-color: #1b202c;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 1px 1px 30px #0005;
}

.page-inner
{
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.page-content
{
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 12px 24px;
}

.page-footer
{
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 32px;
    justify-content: flex-end;
}

h2
{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    color: #8a92a6;
    flex-shrink: 0;
    margin: 8px 0;
    align-items: center;
    gap: 4px;

    i
    {
        font-size: 24px;
    }
}

row 
{
    font-size: 14px;
    flex-shrink: 0;
    background-color: #323b5233;
    border-radius: 10px;
    margin-bottom: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

    &:hover 
    {
        background-color: #323b5266;
    }

    .is-label 
    {
        margin-left: 24px;
        font-family: Poppins;
        font-weight: 600;
        flex-shrink: 0;
        flex-grow: 0;
        width: 300px;
    }
}

SliderControl, ButtonGroup, DropDown
{
    width: 350px;
    max-width: 350px;
    flex-shrink: 0;
    flex-grow: 0;
    height: 32px;
    font-family: Poppins;
    font-weight: 500;
    justify-content: flex-end;
}

SliderControl, DropDown, ButtonGroup, SliderControl
{
    padding-right: 32px;
}

ButtonGroup
{
    gap: 8px;
    font-family: Poppins;
    font-weight: 500;

    Button
    {
        flex-shrink: 0;
        color: #fffa;
        padding: 0px 0px;

        background-color: #343a4933;
        border-radius: 10px;
        padding: 4px 16px;

        &:hover
        {
            color: #fff;
        }

        &.active
        {
            background-color: #323b527c;
            color: #fff;
            font-weight: 600;
        }
    }
}

DropDown
{
    align-items: center;
}

KeyBind
{
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fffa;
    height: 32px;
    min-width: 128px;
    font-family: Poppins;
    font-weight: 500;
    gap: 4px;


    &:first-child
    {
        border-right: 1px solid #323b52;
    }

    Image
    {
        width: 32px;
        transition: opacity 0.25s ease;
    }

    &:hover
    {
        box-shadow: 0px 0px 30px #467de544, 0px 0px 20px #467de501;
        border: 1px solid #467de544;
    }

    &.rebinding
    {
        border: 1px solid #467de544;
        box-shadow: 0px 0px 30px #467de544, 0px 0px 80px #467de511;

        Image
        {
            opacity: 0.25;
        }
    }
}