
.page-content
{
    font-family: Poppins;
    overflow: hidden;
}

.page-footer
{
    gap: 16px;
}

button.button
{
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 16px;
    background-color: #525967;
    border-radius: 8px;
    color: #c6d4ee;

    &:hover
    {
        filter: brightness(1.5);
        color: white;
    }
}

.file-surround
{
    flex-grow: 1;
    gap: 2px;
    margin: 32px;
    margin-bottom: 0;
    font-size: 11px;
    white-space: nowrap;
}

.file-type-older
{
    opacity: 0.4;
}

.summary
{
    margin: 8px 32px;
    gap: 32px;
    
    > *
    {
        gap: 5px;
    }
}

.file-category
{
    flex-direction: column;
    padding: 40px 5px;
    background-color: rgba(white, 0.1);
    box-shadow: 2px 2px 9px black;
}

.file-category:last-child
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.file-category:first-child
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.file-category .title
{
    font-size: 13px;
    font-weight: bold;
}

.file-type-model
{
    background-color: #283A5B;
    color: #518DDB;
}

.file-type-sound
{
    background-color: #2E6334;
    color: #29AD4A;
}

.file-type-map
{
    background-color: #543357;
    color: #AA59A1;
}

.file-type-texture
{
    background-color: #5F592D;
    color: #C0C654;
}